@page
@model IndexModel
@{
    ViewData["Title"] = "About";
}

<div class="text-center">
  
    <h1 class="display-4">Über uns</h1>
    <p>Als die Firma tux-net 1999 gegründet wurde Linux noch belächelt und als Spielzeug für Spinner abgetan. Alles was nichts kostet, taugt nichts. Viele denken auch heute noch so.</p>

    <p>Heute ist Linux der Beweis dafür, dass selbst ein monströses Projekt mit derzeit über 27,8 Millionen Zeilen Quellcode und der Beteiligung namhafter börsennotierter IT-Konzerne weltumspannend weiter auf Erfolgskurs ist. Für jeden anpassbar und ohne Lizenzkosten.</p>

    <p>Wir finden Linux heute nicht nur in Rechenzentren, sondern auch in unseren Hosentaschen versteckt auf schmucken Smartphone oder in einem Plastikkästen unauffällig hinter der Bezeichnung F***Box versteckt, die uns nicht nur ins Internet bringt, sondern auch die Telefondienste vereinfacht und künftig auch das Fernsehen über das Internet voran treibt.</p>
    
    <p>Wir freuen uns, ihre Anforderungen an die IT so effizient, stabil und kostengünstig wie möglich für Sie umzusetzen und blicken dabei auf praxisorientierte Erfahrung zurück..</p>

</div>