@page 
@model IndexModel
@{
    ViewData["Title"] = "Impressum";
}

<div class="text-center">
    <h1 class="display-5">Impressum</h1>
    <h2 class="display-5">Tux-Net</h3>
    <p><br>Jürgen Northe <br>Krumme Steige 18 <br>D-78736 Epfendorf </p>
    <p>Telefon: +49 7404 915 997 <br>Fax: +49 7404 915 998 <br>Mail: info@tux-net.de </p>
    <p>Steuer-Nr: 15229/28802 <br>USt-IdNr. DE211239441</p>
 
</div>