@page
@model IndexModel
@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h1 class="display-4">Willkommen</h1>
    <script src="http://gist-it.appspot.com/https://github.com/NortheLo/Spicker/Spicker.txt"></script>
</div>

<div> class="slideshow-container"
</div>

<script src="http://gist-it.appspot.com/https://github.com/NortheLo/Spicker/Spicker.txt"></script>