@page
@model IndexModel
@{
    ViewData["Title"] = "Support";
}
<div class="text-center">
    <h1 class="display-4">Unterstützung</h1>
    <p>Bitte werfen Sie einen Blick auf das Projekt der <b>German Doctors</b>. Lesen Sie sich zunächst den Beitrag „Engagieren Sie sich für German Doctors – Einsatz als Arzt“ durch und Sie werden verstehen, warum dieses Projekt besondere Hochachtung verdient.</p>
    <p>Ich würde mich freuen, wenn auch Sie dieses Projekt finanziell unterstützen würden.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f6/Logo_German_Doctors.jpg" width="15%" height="15%">

</div>